.background {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: var(--font-roboto);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: 100%;
  position: relative;
}

/* Стили для светлой темы */
.lightBackground {
  background-color: white;
}

.lightContent {
  background-color: white;
}

/* Стили для темной темы */
.darkBackground {
  background-color: #111827 
}

.darkContent {
  background-color: #111827; 
}

.title {
  display: flex;
  justify-content: start;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
}

@media(max-width: 1440px) {
  .content {
    width: 1100px;
  }
}

@media(max-width: 1180px) {
  .content {
    width: 99%;
  }

  .title {
    justify-content: center;
  }
}


.background:global(:has(.shared-admin-table)) {
  align-items: stretch;
}

.content:global(:has(.shared-admin-table)) {
  width: 100vw !important;
  max-width: 100% !important;
  padding: 0 !important;
}