

#aside::-webkit-scrollbar {
  width: 7px;
  /* Ширина скроллбара */
  cursor: pointer;
}

#aside::-webkit-scrollbar-track {
  background-color:   #3C3C3D;
  /* Цвет фона трека скроллбара */
  cursor: pointer;
}

#aside::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #f15282cc;
  /* Цвет ползунка скроллбара */
  cursor: pointer;
}

#aside::-webkit-scrollbar-thumb:hover {
  background-color: #F15281;
  /* Цвет ползунка скроллбара при наведении */
  
}



